#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top:0px;
	left: 0px;
	
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius:7px; 
	width:450px;
	z-index: 10;
	margin-left:42px;
	margin-top: 100px;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #666; font-size:19px; padding:10px; color:#CCC; }
#dialogbox > div > #dialogboxbody{ background: #adb8bb; padding:20px; color:black; }
#dialogbox > div > #dialogboxfoot{ background: #666; padding:10px; text-align:right; }