body{
      background-color: #adb8bb;


    }
    .container input {
      border-radius:10px;
    }
    .form-signin{
      margin-top:14%;
    }
    .form-signup{
      margin-top:7%;
    }
    .form-control {
      width:200px;
      height:39px;
      margin:auto 0;
    }

    .logo{
      width:200px;
    }
    img{
      width: 200px;
      height: 130px;
    }
    .some{
      position: relative;
      margin-bottom: -35px;
      margin-top: -40px;
      width: 90%;
    }
  